html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

img {
  width: 100%;
}

/* Nav classes */

nav {
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a,
.navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

/* Jumbotron classes */
.jumbotron {
  text-align: center;
  padding: 11.85rem 0rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron .container {
  width: 51.3rem;
}

.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  color: #fff;
  font-size: 7.1rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron p {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.jumbotron-beer {
  background-image: url("../images/jumbotron-beer.jpg");
}

.jumbotron-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
}

.jumbotron-flowers {
  background-image: url("../images/jumbotron-flowers.jpg");
}

.btn-primary {
  margin-top: 2.8rem;
  padding: 1.3rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  width: 11.4rem;
}

a.btn-primary:hover {
  background-color: #399bd1;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

a.btn-primary:active {
  background-color: #399bd1;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 767px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }
}

@media only screen and (max-width: 550px) {
  .jumbotron h1 {
    font-size: 4rem;
  }
}

/* Featured Project classes */
h3.categories {
    color: #399bd1;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: transform 500ms, opacity 500ms;
}

.image-container img:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.product-categories li {
  line-height: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
}

.featured {
  margin-top: 20px;
}


/* Projects */

.project .image-container {
  height: 13.5rem;
  overflow: hidden;
}

.project {
  margin-bottom: 5.85rem;
}

/* Help */
.help{
  background-color: #f3f3f3;
  text-align: center;
  padding: 5.2rem 0;
}

.help strong {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}

.help p {
  max-width: 42rem;
  margin: auto;
}
